---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
		{% include post-meta.html %}
		<div style="margin-top: 1rem">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ page.soundcloud }}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
    {{ content }}

		{% include nav-share.html %}

		{% include post-comments.html %}

  </article>

  {% include site-aside.html %}

</main>

{% include site-footer.html %}
